body{
    background-color: bisque;
    text-align: center;

}
.name {
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
}

.name img {
    margin-right: 10px; /* 画像と入力欄の間に余白を追加 */
}

.name input {
    padding: 5px; /* 入力欄の内側に余白を追加 */
    font-size: 14px; /* フォントサイズを調整 */
}



#uname{
    border: 2px solid rgb(197, 197, 197);
    border-radius: 4px;
    margin: 5px;

}
img{
    margin: 5px;
}
.text-ap{
    border: 2px solid rgb(255, 159, 49);
    background-color: rgb(254, 180, 101);
    border-radius: 20px;
    height: 30px;
    width: 50%;
}
#send{
    background-color: bisque;
    height: auto;
    border-style:none;
    width: 40px;
    height: 40px;
}

#text {
    width: 50%;
    height: 50px;
    /* padding: 50px; */
    margin-left: 45px;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    font-size: 16px;
    font-family: Arial, sans-serif;
    resize: vertical;
    outline: none;
}
/* idが "_update" で終わる要素にスタイルを適用 */
[id$="_update"] {
    border: 2px solid #ffaf47;
    padding: 5px;
    background-color: #ffb957;
    border-radius: 10px;
    font-size: 14px;
    color: #333;
    outline: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;

}

/* フォーカス時のスタイル */
[id$="_update"]:focus {
    border-color: #ff8383;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}


/* usernameクラスのスタイル */
.username {
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
    color: #000000;
    font-size: 12px;
    padding: 3px;
}

/* アイコン画像のスタイル */
.user-icon {
    display: inline-block;
    vertical-align: middle;  /* テキストとアイコンを縦位置で中央揃え */
    margin-left: 10px; /* 余白の調整 */
}


#text:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.8);
}

.name{
    font-weight: bold;
    font-size: 12px;
}
